@font-face {
    font-family: 'JBarrett';
    src: local('JBARRETT.ttf');
}

@font-face {
    font-family: 'Danmaku';
    src: local('MPlantin_Danmaku.ttf');
}

.combo-box .list-cell {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background: -fx-accent;
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-color: rgba(255, 255, 255, 0.4);;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-color: rgba(255, 255, 255, 0.7);;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base {
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-color: rgba(97, 118, 187, 0.6);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover {
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-color: #6176BB;
}

.combo-box-base:showing {
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-color: rgba(97, 118, 187, 0.6);
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-font-family: "Danmaku";
    -fx-font-size: 16;
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-opacity: 0;

}