.tab-pane {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-insets: 0, 0 5 0 0, 1 100 0 0;
    -fx-background-color: #7C8FD6;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-padding: 4 10 14 4;
    -fx-border-color: #50433D;
    -fx-border-width: 3px;

}

.tab-pane .tab {
    -fx-background-color: #7C8FD6;

}

.tab-pane .tab:selected {
    -fx-background-color: #6176BB;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #F8F7F5;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #F8F7F5;
}

.tab-pane .tab:hover {
    -fx-background-color: #B3C4E1;
}

.tab:hover .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #50433D;
}